body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(36, 39, 41);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
   margin: 0px;
}

.Login {
    width: 300px;
    height: 280px;
    background-color: rgb(244, 128, 36);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-image: initial;
    border-radius: 15px;
}

.submitButton {
    margin-top: 20px;
    width: 100%;
    height: 40px;
    color: rgb(255, 255, 255);
    background-color: rgb(36, 39, 41);
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 15px;
}